:root {
	--light: #fdf8e5;
}

body {
	background-color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin: 0 auto;
}

input, select, textarea {
	margin-top: 0.5rem; 
}

label {
	margin-top: 1rem;;
}

.errorMessage {
	color: red;
	font-size: 0.75rem;
	margin: 0;
}


